p {
	font-family: cursive;
	font-size: large;
}
h1 {
	
	font-family: cursive;
}
select {
	border-style: groove;
	width: 275px;
}



.container{
display: flex;
margin-left: 400px;
margin-top: 40px;
}

.element{
	
margin-right: 50px;
}



